<section class="vh-100 login-section">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5">
            <div class="d-flex justify-content-center gap-3">
              <img class="" style="height: 40px; width: 40px" src="assets/logo/efly-logo.svg" alt="eFly-logo" srcset="">
              <h3 class="mb-5 primary fw-bold">eFly</h3>
            </div>
            <div class="h4 mt-4 fw-bolder primary-color">{{"login.welcomeBack" | translate}}</div>
            <div class="h5 mb-5 primary-color fw-medium font-responsive">
              {{"login.toEnjoyShopping" | translate}}
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="{{'login.username' | translate}}"  formControlName="username">
                <label class="" for="floatingInput">{{"login.username" | translate}}</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="{{'login.password' | translate}}" formControlName="password">
                <label class="" for="floatingPassword">{{"login.password" | translate}}</label>
              </div>

              <!-- Checkbox -->
              <div class="w-100 d-flex justify-content-between px-2 mt-4 mb-4">
                <!-- <app-custom-check-box [id]="'rememberMe'" [isChecked]="getField('keepLogin')?.value"
                  (handleClick)="checkBoxHandler($event, 'keepLogin')"
                  [label]="'Remember Me'"></app-custom-check-box>
                <a class="link">Forgot Password!</a> -->
              </div>
              <button class="login-btn btn background btn-lg btn-block px-5 w-100" type="submit">{{"login.login" | translate}}</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
