<div class="form-card mt-5 p-4 w-100 overflow-hidden">
  <form class="w-100 px-2" [formGroup]="productForm">
    <div class="d-flex justify-content-end align-items-center w-100 mb-4 save-code reverse">
      <app-save-cancel-button [saveLabel]="'common.save'" (handleCancel)="helper.previousPage()" [showCancel]="true" [isLoading]="isLoading"
        (handleSave)="save()" class="app-save-cancel-btn"></app-save-cancel-button>
    </div>

    <div class="row pt-4">
      <!--Product Title-->
      <div class="col-12">
        <div class="form-floating mb-3 w-100">
          <input type="text" class="form-control" id="floatingInput" placeholder="{{'platform.products.title' | translate}}"  formControlName="title">
          <label class="" for="floatingInput">{{"platform.products.title" | translate}}</label>
        </div>
      </div>
      <!--Price-->
      <div class="col-lg-6">
        <div class="form-floating mb-3 w-100">
          <input type="text" class="form-control" id="floatingInput" placeholder="{{'platform.products.price' | translate}}"  formControlName="price">
          <label class="" for="floatingInput">{{"platform.products.price" | translate}}</label>
        </div>
      </div>
      <!-- Category -->
      <div class="col-lg-6">
        <div class="form-floating mb-3 w-100">
          <!-- <input type="text" class="form-control" id="floatingInput" placeholder="{{'platform.products.category' | translate}}"  formControlName="category"> -->
           <select class="form-select" id="floatingInput"  formControlName="category" (selectCategory)="selectCategory($event)">
            <option *ngFor="let category of categories$" [value]="category">{{category}}</option>
           </select>
          <label class="" for="floatingInput">{{"platform.products.category" | translate}}</label>
        </div>
      </div>
      <!-- Image -->
      <div class="col-lg-6">
        <!-- <div class="form-floating mb-3 w-100">
          <input type="text" class="form-control" id="floatingInput" placeholder="{{'platform.products.image' | translate}}"  formControlName="image">
          <label class="" for="floatingInput">{{"platform.products.image" | translate}}</label>
        </div> -->
      </div>
      <!-- Description -->
      <div class="col-lg-12">
        <div class="form-floating mb-3 w-100">
          <input type="text" class="form-control" id="floatingInput" placeholder="{{'platform.products.description' | translate}}"  formControlName="description">
          <label class="" for="floatingInput">{{"platform.products.description" | translate}}</label>
        </div>
      </div>
    </div>
  </form>
</div>
