:host {
  .search {
    display: flex;
    width: 350px;
  }

  input {
    border: 1px solid var(--background-color);
    border-radius: 10px;
    background: var(--background-color);
    &:-webkit-autofill,
    &:focus,
    &:active {
      border: 2px solid var(--background-color);
    background: var(--background-color);
      // box-shadow: 1px 1px 1px 1px var(--primary);
      -webkit-text-fill-color: var(--primary);
      box-shadow: none;
    }
  }

  @media screen and (max-width: 880px) {
    .search {
      // display: none;
    }

    .notSearch {
      display: block;
    }
  }
}
