<div class="products-container container pb-5">
  <!-- Header -->
  <div
    class="d-flex flex-wrap align-items-center justify-content-between mx-3 mb-3"
  >
    <div class="d-flex flex-wrap align-items-center gap-2">
      <app-search-input
        (filterInput)="filterInputObservable($event)"
      ></app-search-input>
    </div>
    <div class="d-flex flex-wrap align-items-center gap-4">
      <app-primary-button
        [label]="'common.addNew'"
        routerLink="add"
        [suffixIcon]="'../../../assets/images/icons/add.svg'"
      ></app-primary-button>
    </div>
  </div>

  <!-- Table -->
  <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Code</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
  </table> -->
  <ng-container *ngIf="this.productsService.products$().length > 0">
    <div
      class="w-100 product-table table-responsive overflow-auto align-items-start gap-2 mx-3"
      *ngFor="let product of this.productsService.products$()"
    >
      <div
        class="d-flex justify-content-start align-items-center fw-bold primary-color h-100"
      >
        {{ product.title | titlecase | truncate : 20 }}
      </div>
      <div
        class="d-flex justify-content-start align-items-center primary-color h-100"
      >
        {{ product.category | titlecase }}
      </div>
      <div
        class="d-flex justify-content-center align-items-center primary-color h-100"
      >
        # {{ product.id }}
      </div>
      <div
        class="d-flex justify-content-center align-items-center fw-bold primary-color h-100"
      >
        {{ product.price }} {{ "platform.products.egp" | translate }}
      </div>
      <div class="d-flex justify-content-center align-items-center"></div>
      <div class="dropdown d-flex flex-column">
        <div
          class="px-2 py-2 transition dropdown-toggle d-flex justify-content-flex-end align-items-center"
          role="button"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i role="button" class="fas fa-ellipsis-h primary"></i>
        </div>

        <ul class="dropdown-menu">
          <li>
            <button
              class="dropdown-item primary-color"
              [routerLink]="['edit', product.id]"
              type="button"
            >
              {{ "common.update" | translate }}
            </button>
          </li>
          <li>
            <button
              class="dropdown-item primary-color"
              type="button"
              (click)="showModal(product)"
            >
              {{ "common.delete" | translate }}
            </button>
          </li>
        </ul>
      </div>
    </div>
    <!-- <app-custom-paginator [length]="pagenator$.getValue().length" [pageIndex]="pagenator$.getValue().pageIndex"
    [pageSize]="pagenator$.getValue().pageSize" [totalPages]="pagenator$.getValue().totalPages"
    [pageSizeOptions]="pagenator$.getValue().pageSizeOptions" (page)="pagenateChange($event)">
  </app-custom-paginator> -->
  </ng-container>
</div>
<!-- Modal -->
<div *ngIf="isModalOpen" class="save-modal modal fade">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header primary">
        <h5 class="modal-title" id="exampleModalLabel">{{"common.confirmDelete" | translate}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="isModalOpen = false"
        ></button>
      </div>
      <div class="modal-body">
        {{"common.areYouSure" | translate}}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="isModalOpen = false"
        >
          {{"common.close" | translate}}
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onDeleteProduct(selectedProduct().id)"
        >
          {{"common.saveChanges" | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
