<div class="content position-relative overflow-x-auto shadow-md sm:rounded-lg p-4">
  <!-- Header -->
  <div
    class="header d-flex justify-content-between align-items-center md:flex-row flex-wrap">
    <div class="d-flex align-items-center justify-content-between flex-wrap py-2 font-bold">
      Products</div>
    <div class="d-flex flex-wrap align-items-center gap-4">
      <app-primary-button [label]="'common.addNew'" routerLink="add"
        [suffixIcon]="'assets/images/icons/add.svg'"></app-primary-button>
    </div>
  </div>
  <!-- Filters -->
  <div>
    <div class="d-flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4">
      <!-- Search -->
      <div class="d-flex flex-wrap items-center gap-3">
        <app-search-input (keyup)="search($event)" />
      </div>
    </div>
  </div>

  <!-- Table -->
  <ng-container *ngIf="productsService.products$().length > 0">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="d-flex align-items-center gap-2 cursor-pointer">
            <span>Name</span>
            @if (this.sortType == 'asc') {
            <button type="button" class="btn-sort" (click)="sortProducts()"><img
                src="assets/images/icons/sort-alpha-down.svg" alt=""></button>
            } @else {
            <button type="button" class="btn-sort" (click)="sortProducts()"><img
                src="assets/images/icons/sort-alpha-down-alt.svg" alt=""></button>
            }
          </th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      @for (product of this.productsService.products$() | filter:searchKey: 'title'; track $index) {
      <tbody>
        <tr role="button" tabindex="0">
          <th class="fw-bold">{{$index + 1}}
          </th>
          <td>{{product.title | titlecase | truncate : 20}}</td>
          <td>{{product.category | titlecase}}</td>
          <td>{{ product.price }} {{ "platform.products.egp" | translate }}</td>
          <!-- Actions -->
          <td>
            <div class="dropdown d-flex flex-column">
              <div class="px-2 py-2 transition dropdown-toggle d-flex justify-content-flex-end align-items-center"
                role="button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i role="button" class="fas fa-ellipsis-h primary fw-bold"></i>
              </div>

              <ul class="dropdown-menu">
                <li>
                  <button class="dropdown-item primary-color" [routerLink]="['view', product.id]" type="button">
                    {{ "common.view" | translate }}
                  </button>
                </li>
                <li>
                  <button class="dropdown-item primary-color" [routerLink]="['edit', product.id]" type="button">
                    {{ "common.update" | translate }}
                  </button>
                </li>
                <li>
                  <button class="dropdown-item primary-color" type="button" (click)="showModal(product)">
                    {{ "common.delete" | translate }}
                  </button>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
      }
    </table>
  </ng-container>
  <!-- Pagination -->
   <!-- <div class="d-flex justify-content-end mt-4 mb-4">
    <app-custom-paginator [length]="pagenator$.getValue().length" [pageIndex]="pagenator$.getValue().pageIndex"
    [pageSize]="pagenator$.getValue().pageSize" [totalPages]="pagenator$.getValue().totalPages"
    [pageSizeOptions]="pagenator$.getValue().pageSizeOptions" (page)="pagenateChange($event)">
  </app-custom-paginator>
  </div> -->
</div>
<!-- Modal -->
<div *ngIf="isModalOpen" class="save-modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header primary m-4">
        <h5 class="modal-title" id="exampleModalLabel">{{ "common.delete" | translate }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="isModalOpen = false"
        ></button>
      </div>
      <div class="modal-body">
         <div class="d-flex flex-column items-center justify-center">
          <p class="fw-bold">{{"common.areYouSure" | translate}}</p>
          <div class="d-flex justify-content-end align-items-center w-100 mb-4 save-code reverse">
            <app-save-cancel-button [saveLabel]="'common.save'" (handleCancel)="isModalOpen = false" [showCancel]="true" [isLoading]="isLoading"
              (handleSave)="onDeleteProduct(selectedProduct().id)" class="app-save-cancel-btn"></app-save-cancel-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
