<app-top-navigation class="mb-5" />

@if(rolesService.isRolesAuthorized([roleEnum.user])){


<div class="products-container container padding">
  <div class="row h-100 py-5 ">
    <!-- Arrangements Sidebar -->
    <div class="col-lg-3 height">
      <h5 class="card-title mb-1 primary-color fw-bold">Arrangements by: </h5>
      <div class="accordion" id="accordionExample">
        <!-- Arrangements by -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Price
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="">
                <div class="form-check" (change)="sortByPrice()">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="lowToHigh" value="low" [(ngModel)]="sort">
                  <label class="form-check-label primary-color" for="lowToHigh">
                    Low to high
                  </label>
                </div>
                <div class="form-check" (change)="sortByPrice()">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="highToLow" value="high" [(ngModel)]="sort">
                  <label class="form-check-label primary-color" for="highToLow">
                    High to low
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Categories -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Categories
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="">
                <div class="form-check" (click)="this.getAllProducts()">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="allCategories">
                  <label class="form-check-label primary-color" for="allCategories">
                    All
                  </label>
                </div>
                @for (category of Categories; track $index) {
                <div class="form-check" (click)="this.getProductsByCategory(category)">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="category">
                  <label class="form-check-label primary-color" for="category">
                    {{category | titlecase}}
                  </label>
                </div>
              }
              </div>
            </div>
          </div>
        </div>
        <!-- Brands -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Brands
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="brand1">
                  <label class="form-check-label primary-color" for="brand1">
                    Brand 1
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="brand2">
                  <label class="form-check-label primary-color" for="brand2">
                    Brand 2
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button (click)="clearFilter()" class="btn btn-primary primary-btn white mt-4 w-75 rounded-4">Clear Filter</button>
        </div>
      </div>
    </div>

    <!-- Categories -->
    <div class="col-lg-9 col-sm-12 px-5">
      <div class="w-100 grid align-items-start p-sm-2   gap-5 " style="margin-top: 0px;">
        <!-- All -->
        <div class="d-flex item-container justify-content-center align-items-center flex-column "
          (click)="this.getAllProducts()">
          <div class="item d-flex justify-content-center align-items-center">
            <img [src]="'assets/images/icons/element-3.svg'" alt="all" srcset="">
          </div>
          <span style="text-align: center;">All</span>
        </div>

        @for (category of Categories; track $index) {
        <div class="d-flex item-container justify-content-center align-items-center flex-column "
          (click)="this.getProductsByCategory(category)">
          <div class="item d-flex justify-content-center align-items-center ">
            <img src="assets/images/icons/products.svg" width="40px" height="40px" alt="" srcset="">
          </div>
          <span style="text-align: center;">{{category | titlecase}}</span>
        </div>
        }
      </div>
    </div>

    <!-- Products -->
    <div class="w-100 product-grid m-auto mt-3 align-items-start gap-4">
      <!-- Product Card -->
      @for (product of productsByCategory; track $index) {
      <div class="product-container transition">
        <div class="product-img-container w-100 ">
          <img src="{{product.image}}" class="object-fit-contain" height="228px" width="300px" alt="" srcset="">
          <div class="addCard-button" role="button">
            <img src="assets/images/icons/bag-white.svg" height="32px" width="32px" alt="" srcset="">
          </div>
        </div>
        <div class="w-100 product-details d-flex justify-content-center align-items-start flex-column  p-2 ">
          <p class="category">{{product.category | titlecase}}</p>
          <p class="name">{{product.title | truncate: 30}}</p>
          <p class="code">Code: #{{product.id}}</p>
          <div class="d-flex gap-2 ">
            <p class="price">{{product.price}} EGP</p>
            <div class="addCard-button" role="button">
              <img src="assets/images/icons/bag-white.svg" height="32px" width="32px" alt="" srcset="">
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
<!-- Empty Platform for Admin Users -->
} @else {<div class="empty-state d-flex flex-column justify-content-center align-items-center mt-5">  <img src="assets/images/img/not-found search.png" class="img" alt="" srcset="">
  <span class="description primary-color fs-3 fw-bold">{{"EmptyState.needNormalUser" | translate}}</span>
  <span class="description primary fs-6 fw-bold">{{"EmptyState.toEnjoyShopping" | translate}}</span>
</div>
}
