<div class="sidebar" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }"
  [@fadeInOut]>
  <ul>
    <li>
      <a routerLinkActive="active" (click)="toggleSubmenu()">
        <span class="menu-item">{{"sidenav.dashboard" | translate}}</span>
        <!-- <span class="sub-menu-item" [ngClass]="{ 'sub-menu-open': isSubmenuOpen }"></span> -->
      </a>
      <!-- Sub-menu for Dashboard with left padding -->
      <ul *ngIf="isSubmenuOpen" class="sub-menu">
        <li>
          <a  routerLinkActive="active">
            <span class="menu-item">{{"sidenav.customers" | translate}}</span>
          </a>
        </li>
        <li>
          <a  routerLinkActive="active">
            <span class="menu-item">{{"sidenav.carts" | translate}}</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a  routerLinkActive="active">
        <span class="menu-item">{{"sidenav.categories" | translate}}</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/products" >
        <span class="menu-item">{{"sidenav.products" | translate}}</span>
      </a>
    </li>
  </ul>
</div>
