
.navbar {
  // background-color: #eff1f4 !important;
}
.circle-btn {
  display: flex;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem 0.6875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid var(--white);

  &:hover{
      box-shadow: 0px 0px 8px var(--grey-300);
  }
}

.primary-btn {
  background-color: var(--primary);
  color: #fff;
}

.nav-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.nav-item:hover {
  color: var(--primary);
  cursor: pointer;
}
