<div class="w-100 h-100 p-5 d-flex justify-content-center align-items-center flex-column z-n1 ">
  <img src="assets/images/img/error_404.png" class="img" alt="" srcset="">
  <span class="description fw-bold my-3">404</span>
  <span class="description fs-5 grey-600">
         {{'common.404Message1'|translate}}
  </span>
  <span class="description primary mb-2 fw-bold fs-5">
         {{'common.404Message2'|translate}}
  </span>
  <div class="mt-2"></div>
  <app-primary-button header [label]="'common.goBack' |translate"  prefixIcon="" (click)="goBack()"/>

</div>
