:host {
  .img {
         width: 15.7rem;
         height: 20.7rem;
         object-fit: contain;
  }

  .description {
         text-align: center;
         font-size: 1.5rem;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
  }
}
