/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@600&family=Tajawal:wght@200;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap");
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

@import "./assets/styles/colors.scss";

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

* {
  font-family: "Tajawal", sans-serif;
}

:root {
  --primary: #7f00ff;
  --dprimary: #b468ff;
  --secondary: #43c8d4;
  --dark: #1c336a;
  --dark-hover-btn: #33497e;
  --popout: #efa23b;
  --popout-light: #fff5e8;
  --popout-dark: #c17611;
  --warn: #d23445;
  --accept: #198754;
  --info-grey: #9197a1;
  --menu-grey: #b9c0cf;

  --bg-primary: #7f00ff;
  --bg-secondary: #43c8d4;

  /* Colors */

  --white: #fff;
  --grey-950: #09090b;
  --grey-900: #18181b;
  --grey-800: #27272a;
  --grey-700: #3f3f46;
  --grey-600: #52525b;
  --grey-500: #71717a;
  --grey-400: #a1a1aa;
  --grey-300: #d4d4d8;
  --grey-200: #e4e4e7;
  --grey-100: #f4f4f5;
  --grey-50: #fafafa;

  --green-950: #052e16;
  --green-900: #14532d;
  --green-800: #166534;
  --green-700: #15803d;
  --green-600: #16a34a;
  --green-500: #22c55e;
  --green-400: #4ade80;
  --green-300: #86efac;
  --green-200: #bbf7d0;
  --green-100: #dcfce7;
  --green-50: #f0fdf4;

  --red-950: #450a0a;
  --red-900: #7f1d1d;
  --red-800: #991b1b;
  --red-700: #b91c1c;
  --red-600: #dc2626;
  --red-500: #ef4444;
  --red-400: #f87171;
  --red-300: #fca5a5;
  --red-200: #fecaca;
  --red-100: #fee2e2;
  --red-50: #fef2f2;

  --yellow-950: #422006;
  --yellow-900: #713f12;
  --yellow-800: #854d0e;
  --yellow-700: #a16207;
  --yellow-600: #ca8a04;
  --yellow-500: #eab308;
  --yellow-400: #facc15;
  --yellow-300: #fde047;
  --yellow-200: #fef08a;
  --yellow-100: #fef9c3;
  --yellow-50: #fefce8;

  --accent-950: #083344;
  --accent-900: #164e63;
  --accent-800: #155e75;
  --accent-700: #0e7490;
  --accent-600: #0891b2;
  --accent-500: #06b6d4;
  --accent-400: #22d3ee;
  --accent-300: #67e8f9;
  --accent-200: #a5f3fc;
  --accent-100: #cffafe;
  --accent-50: #ecfeff;

  --blue-900: #0b1428;
  --blue-800: #162750;
  --blue-700: #203b79;
  --blue-600: #2b4ea1;
  --blue-500: #3662c9;
  --blue-400: #5e81d4;
  --blue-300: #86a1df;
  --blue-200: #afc0e9;
  --blue-100: #d7e0f4;
  --blue-50: #ebeffa;
}

// Scroll style

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #e7e6e6;
}

::-webkit-scrollbar-thumb {
  background: #cfcece;
}

::-webkit-scrollbar-thumb:hover {
  background: #c5c4c4;
}

// rtl styles
[dir="rtl"] {
  a {
    text-align: start;
  }
}
